body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.currencyDropdown {
    background-color: lightblue;
    font-size: medium;
    border-color: lightblue;
}

.increaseButton {
    background-color: lightgreen;
    border-radius: 50%;
    color: white;
border: none;
   height: 30px;
width: 30px;
font-size: 20px;
text-align: center;
font-weight: 1000;
}

.decreaseButton {
    background-color: red;
    border-radius: 50%;
    color: white;
    border: none;
    height: 30px;
width: 30px;
font-size: 20px;
text-align: center;
font-weight: 1000;
}